<!DOCTYPE html>
{% set sitename="Site des points génie" %}
<html>
<head>
  <title>{% block title %}{{sitename}}{% endblock %}</title>
  {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
  {% block css %}
    {% if STYLE_URL %}
      <link rel="stylesheet" href="/{{STYLE_URL}}">
    {% endif %}
  {% endblock %}
</head>
<body>
<div id="page-container">{{render|raw}}</div>
<div class="footer">
  {% block footer %}
    {% if isAuth %}
      <p>
        <b>Directrice Points Génie</b> - <a href="mailto:michelle.kinahan@usherbrooke.ca" >Michelle Kinahan</a><br/>
        <b>Webmestre</b> - <a href="mailto:joel.simoneau@usherbrooke.ca" >Joël Simoneau</a>
      </p>
    {% endif %}
    <p>
      <b>Version</b> - {{version}} #{{commit}} -
      <a href={{"https://raw.githubusercontent.com/schmouck/pointsgenie/v" + version +"/HISTORY.md"}}>Changelog</a>
    </p>
  {% endblock %}
</div>
{% block script %}
  <script type="text/javascript">
   window.DATA = {{DATA|raw}};
  </script>
  {% if SCRIPT_URL_COMMON %}
    <script type="text/javascript" src="{{SCRIPT_URL_COMMON}}"></script>
  {% endif %}
  <script type="text/javascript" src="{{SCRIPT_URL_APP}}"></script>
{% endblock %}
</body>
</html>
